@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3b503e;
  --foreground: #f7f3ea;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css or LightboxGallery.module.css */

.masonry-grid {
  column-count: 1;
  /* Default column count for mobile */
  column-gap: 16px;
  /* Adjust as needed */
}

@media (min-width: 640px) {
  .masonry-grid {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .masonry-grid {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .masonry-grid {
    column-count: 4;
  }
}